---

import Wrapper from '../layouts/Wrapper.astro';
import Navigation from '../components/HeaderNav.astro';
import KurzKarta from '../components/KurzKarta.astro';

import {homepageCourses} from '../courses.js';

---

<Wrapper>
	<header class="hp-header">
		<Navigation></Navigation>

		<div class="wrapper">
        	<div class="header__content">
				<h1>
					Vzdělávání přímo na koleji<br>
					<span class="light">programování</span><br>
					<span class="light">doplňkové kurzy</span><br>
				</h1>
				<h2>
				    <span class="light">začínáme týden od 6. března 2023</span>
				</h2><br>

				<p>Nauč se programovat, pracovat v profesionálních nástrojích, nebo doplň své vzdělání o praktické zkušenosti přímo v pohodlí Strahova</p>

				<a href="#kurzy" class="btn btn--primary btn--l">Otevřené kurzy</a>
        	</div>
    	</div>
    </header>

    <section id="kurzy" class="light courses hp text--center">
        <div class="wrapper">
            <h2 class="mb--m">Kurzy otevřené pro zimní semestr 2022 / 2023</h2>
            <div class="courses-list hp">

                {
                    homepageCourses.map((course) => (
						<KurzKarta kurz={course}/>
                    ))
                }
            </div>
        </div>
    </section>

    <section class="hp-featured img">
        <img src="/assets/priscilla-du-preez-XkKCui44iM0-unsplash.jpg" class="img--bg" alt="">

        <div class="wrapper">
            <div class="featured__container">
                <div class="featured__icons">

                    <div class="icons__item">
                        <div class="icons__icon">
                            <img src="/assets/icons/home-svgrepo-com.svg" alt="">
                        </div>

                        <div class="icons__content">Z pohodlí oblíbeného #stadiondomov</div>
                    </div>

                    <div class="icons__item">
                        <div class="icons__icon">
                            <img src="/assets/icons/clock-svgrepo-com.svg" alt="">
                        </div>

                        <div class="icons__content">Časově nekolidující s výukou</div>
                    </div>


                    <div class="icons__item">
                        <div class="icons__icon">
                            <img src="/assets/icons/user-svgrepo-com.svg" alt="">
                        </div>

                        <div class="icons__content">Se zkušenými lektory z klubu Silicon Hill</div>
                    </div>
                </div>

                <div class="featured__content">
                    <h2>Vzdělávání v klubu Silicon Hill</h2>
                    <p></p>

                    <div class="featured__content__icon">
                        <img src="/assets/icons/leadership-svgrepo-com.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

</Wrapper>

