

---
// Component Imports
import MainLayout from '../layouts/Main.astro';
import KurzKarta from "../components/KurzKarta.astro";

import {courses} from "../courses";
---

<MainLayout>
    <section id="courses" class="light courses">
        <div class="wrapper">

            <h2 class="text--center dot dot--bottom dot--secondary">Kurzy pro letní semestr 2021/2022</h2>


            <div id="conferences-list">
                <div class="courses-list">
                    {
                        courses.map((course) => (
                            <KurzKarta kurz={course}/>
                        ))
                    }
                </div>
            </div>
        </div>

    </section>
</MainLayout>
