---

import { Markdown } from 'astro/components';
import KurzLayout from '../layouts/Kurz.astro';
import MapaSkolici from '../components/MapaSkolici.astro';


const program = [
    {
        name: '1. Lekce - Ansys',
        heading: 'Úvod do Ansys',
        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
    }
]

---
<KurzLayout>
    <header id="uvod" class="header o--h" style="z-index: 10">
        <div class="header__nav">
            <div class="wrapper">
                <div class="header__nav__inner">
                    <div class="nav__group d--flex">
                        <div class="nav__column logo">
                            <a href="#uvod">
                                Ansys - Výpočetní metoda konečných prvků
                            </a>
                        </div>

                        <div class="nav__column back">
                            <ul class="nav__list">
                                <li class="nav__item">
                                    <a href="/kurzy">
                                        <img src="/assets/icons/back-icon.svg" alt="">
                                            <p>Zpět <span class="sm:d--none">na kurzy</span></p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="nav__group d--flex">
                        <div class="nav__column navbar">
                            <ul class="nav__list">
                                <li class="nav__item">
                                    <a href="#o-kurzu">O kurzu</a>
                                </li>

                                <li class="nav__item">
                                    <a href="#program">Program</a>
                                </li>

                                <li class="nav__item">
                                    <a href="#registrace">Registrace</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrapper">

            <div class="header__content">

                <div class="header-tags-list">
                    <span class="header-tags__item">cca 6 lekcí</span>
                </div>

                <h1>Ansys <br/> Výpočetní metoda konečných prvků</h1>

                <p class="header__date">2. březen 2022</p>
                <p class="header__place">Školíci centrum</p>


                <a href="#registrace" class="btn btn--primary btn--l">Chci se registrovat</a>

                <a href="#about" class="header-read__more">
                    <img src="/assets/icons/header-more.svg" alt="">
                        <p>Více informací</p>
                </a>
            </div>

            <div class="header-img--bg">
                <img src="/img/kurz-autocad-screen.jpg" alt="">
            </div>

        </div>
    </header>


    <section id="o-kurzu" class="white conf conf-about" style="z-index: 9">

        <div class="wrapper line">

            <h2 class="dot dot--left dot--secondary">Popis kurzu</h2>
            <div class="about__featured">

                <div class="about__featured-item">
                    <div class="about__featured-icon">
                        <i class="fal fa-calendar-alt"></i>
                    </div>

                    <p class="about__featured-desc">2. 3. - 20. 5. 2022</p>
                </div>

                <div class="about__featured-item">
                    <div class="about__featured-icon">
                        <i class="fal fa-clock"></i>
                    </div>

                    <p class="about__featured-desc">90 minut</p>
                </div>

                <div class="about__featured-item">
                    <div class="about__featured-icon">
                        <i class="fal fa-map-marker-alt"></i>
                    </div>

                    <p class="about__featured-desc">Školící centrum</p>
                </div>

            </div>

            <div class="about__desc">
                <Markdown>
                    Seznámení s možnostmi výpočtu konstrukcí pomocí metody konečných prvků, kdy bude představeno vytvoření modelu, stanovení výpočetní sítě a zadání okrajových podmínek.

                    Představeny budou analýzy mechanické, teplotní nebo porušení materiálu.

                    Kurz je vhodný jak pro úplné začátečníky, tak i pro pokročilé, kteří chtějí poznat další možnosti výpočtů pro oveření funkčnosti modelů metodou konečných prvků.

                    Kurz funguje jako **"bring your own license"**. Na připravené počítače, kde budete přihlášeni pod vlastním účtem si budete muset aktivovat licenci.
                </Markdown>
            </div>
        </div>

    </section>


    <section id="lektor" class="lecturers conf light" style="z-index: 8">

        <div class="wrapper">

            <h2 class="dot dot--left dot--secondary">Lektor</h2>

            <div class="lecturers-list">
                <div class="lecturer__item">

                    <div class="lecturer__img">
                        <div
                            class="lecturer__position primary"
                            style="background:#00A99D"
                        >
                            Lektor
                        </div>
                        <img src="/img/kurz-sejna.jpg"/>
                    </div>

                    <div class="lecturer__details">
                        <h3>Ing. Jakub Šejna</h3>
                        <Markdown>
                            Problematice požární ochrany se zabývá již od mládí, vystudoval Střední odbornou školu Požární ochrany ve Frýdku–Místku pod MV ČR. V roce 2014 nastoupil na Fakultu stavební ČVUT, kdy se v bakalářském studiu věnoval požární bezpečnosti staveb a v navazujícím magisterském, které dokončil 2020, pak studiu integrální bezpečnosti staveb.

                            Nyní v doktorském studiu řeší problematiku tepelné degradace dřeva a modelování vývoje požáru v objektech s dřevěnými konstrukcemi a možnosti návrhu ochrany ocelových konstrukcí pomocí dřevěných deskových materiálů.

                            V rámci projekční činnosti zpracovává Požárně bezpečnostní řešení staveb s pokročilým modelováním a dalšími analýzami pro požární posuzování staveb.
                        </Markdown>
                    </div>

                </div>

            </div>
        </div>

    </section>


    <section id="program" class="white conf program" style="z-index: 7">
        <div class="wrapper line">
            <h2 class="dot dot--left dot--secondary">Program</h2>

            <div class="program-container">
                <div class="program__item">
                    <div class="program__section">
                        {
                            program.map(program => (
                                <div class="program__row">
                                    <div class="program__time">
                                        {program.name}
                                    </div>

                                    <div class="program__content">
                                        <strong>{program.heading}</strong>
                                        <p>{program.text}</p>
                                    </div>
                                </div>
                            ))
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="podmienky" class="white conf program" style="z-index: 7">
        <div class="wrapper line">
            <h2 class="mb--s dot dot--left dot--secondary">FAQ</h2>

            <div class="faq-container">
                <div class="faq__item">
                    <div class="faq__column">
                        <h3>Co potřebuju na akademii?</h3>
                        <div class="faq__content">
                            <p>Platné základní a síťové členství klubu Silicon Hill</p>
                        </div>
                        <div class="faq__content">
                            <p>Možnost donést si vlastní počítač s Ansys (studenstkou licenci si můžete sehnat přes <a href=https://download.cvut.cz/>ČVUT</a>)</p>
                        </div>

                        <div class="faq__content">
                            <p>Pro studenty ČVUT</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="registrace" class="conf light">
        <div class="wrapper">
            <h2 class="text--center dot dot--bottom dot--primary">Registrace</h2>

            <div class="d--flex jc--c">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfqb4BaLapxvOhScpiNqi4j7taSzw4ac0m8ATw65woW9LLyhw/viewform?embedded=true" width="800" height="1586" frameborder="0" marginheight="0" marginwidth="0">Načítání…</iframe>
            </div>
        </div>
    </section>


    <section id="kontakt" class="white contact" style="z-index: 2">
        <div class="wrapper dot line">
            <div class="d--flex fw--w">

                <div class="wrapper__column">
                    <h2 class="mb--s dot dot--left dot--secondary">Kontakt</h2>

                    <p class="mb--s subheading">
                        V případě jakýchkoliv otázek nebo nejasností nás neváhajte kontaktovat.
                    </p>
                    <p class="mb--s subheading">
                        Manažer pro vzdělávání
                        <a href="mailto:j.hanus@sh.cvut.cz.com">j.hanus@sh.cvut.cz</a>
                    </p>
                    <p class="mb--s subheading">
                        Developer stránek
                        <a href="mailto:slavo.kozar@gmail.com">slavo.kozar@gmail.com</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <MapaSkolici></MapaSkolici>
</KurzLayout>