---

import { Markdown } from 'astro/components';
import KurzLayout from '../layouts/Kurz.astro';
import MapaSkolici from '../components/MapaSkolici.astro';


const program = [
    {
        name: '1. Lekce',
        heading: 'Python',
        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
    }
]

---
<KurzLayout>
    <header id="uvod" class="header o--h" style="z-index: 10">
        <div class="header__nav">
            <div class="wrapper">
                <div class="header__nav__inner">
                    <div class="nav__group d--flex">
                        <div class="nav__column logo">
                            <a href="#uvod">
                                Python pro začátečníky
                            </a>
                        </div>

                        <div class="nav__column back">
                            <ul class="nav__list">
                                <li class="nav__item">
                                    <a href="/kurzy">
                                        <img src="/assets/icons/back-icon.svg" alt="">
                                        <p>Zpět <span class="sm:d--none">na kurzy</span></p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="nav__group d--flex">
                        <div class="nav__column navbar">
                            <ul class="nav__list">
                                <li class="nav__item">
                                    <a href="#o-kurzu">O kurzu</a>
                                </li>

                                <li class="nav__item">
                                    <a href="#program">Program</a>
                                </li>

                                <li class="nav__item">
                                    <a href="#registrace">Registrace</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrapper">

            <div class="header__content">

                <div class="header-tags-list">
                    <span class="header-tags__item">dlouhodobý kurz</span>
                </div>

                <h1>Python pro začátečníky</h1>

                <p class="header__date">28. únor 2022</p>
                <p class="header__place">Školíci centrum</p>


                <a href="#registracia" class="btn btn--primary btn--l">Chci se registrovat</a>

                <a href="#about" class="header-read__more">
                    <img src="/assets/icons/header-more.svg" alt="">
                        <p>Více informací</p>
                </a>
            </div>

            <div class="header-img--bg">
                <img src="/img/kurz-python-code.jpg" alt="">
            </div>

        </div>
    </header>


    <section id="o-kurzu" class="white conf conf-about" style="z-index: 9">

        <div class="wrapper line">

            <h2 class="dot dot--left dot--secondary">Popis kurzu</h2>
                <div class="about__featured">

                        <div class="about__featured-item">
                            <div class="about__featured-icon">
                                <i class="fal fa-calendar-alt"></i>
                            </div>

                            <p class="about__featured-desc">2. 3. - 15. 5. 2022</p>
                        </div>
                        
                        <div class="about__featured-item">
                            <div class="about__featured-icon">
                                <i class="fal fa-clock"></i>
                            </div>

                            <p class="about__featured-desc">120 minut</p>
                        </div>

                        <div class="about__featured-item">
                            <div class="about__featured-icon">
                                <i class="fal fa-map-marker-alt"></i>
                            </div>

                            <p class="about__featured-desc">Školící centrum</p>
                        </div>
                </div>
            
            <div class="about__desc">
                <Markdown>
                    V tomto kurzu si představíme jazyk Python a projdeme úplné základy programování jako jsou proměnné, podmínky, cykly nebo funkce. Naším cílem bude napsání vlastní aplikace s textovým rozhraním. Celý kurz je koncipovaný na praktickou část, takže vždy probereme to nejnutnější z teorie a pak si vše hned prakticky vyzkoušíme. V průběhu výuky budou zadávány i jednoduché domácí úkoly na procvičení látky.

                    Kurz je vhodný jak pro úplné začátečníky, tak i pro zkušené programátory, kteří chtějí poznat Python.

                    Po dokončení tohoto kurzu bys měl být schopen samostatně psát aplikace a umět dohledávat a číst v dokumentaci.
                </Markdown>
            </div>
        </div>

    </section>


    <section id="lektor" class="lecturers conf light" style="z-index: 8">

        <div class="wrapper">

            <h2 class="dot dot--left dot--secondary">Lektor</h2>

            <div class="lecturers-list">
                    <div class="lecturer__item">

                        <div class="lecturer__img">
                            <div
                                class="lecturer__position primary"
                                style="background:#00A99D"
                            >
                                Lektor
                            </div>
                            <img src="/img/kurz-skalicky.jpg"/>
                        </div>

                        <div class="lecturer__details">
                            <h3>Martin Skalický</h3>

                            <Markdown>
                                Jsem studentem Fakulty informačních technologií ČVUT, aktuálně na magisterském programu Webového inženýrství. Programování se věnuji již více jak šest let a z toho 2 roky pracovně. Ve volném čase, když zrovna naprogramuji, tak si hraji s elektrotechnikou - 3D tiskárnou, kvadrokoptérou či mikročipy.

                                Baví mě předávat své vědomosti dál a pomáhat tak ostatním - neváhejte a přijďte se podívat na některým z mých kurzů.
                            </Markdown>
                        </div>

                    </div>
                                       
            </div>
        </div>

    </section>


    <section id="program" class="white conf program" style="z-index: 7">
        <div class="wrapper line">
            <h2 class="dot dot--left dot--secondary">Program</h2>

            <div class="program-container">
                <div class="program__item">
                    <div class="program__section">
                        {
                            program.map(program => (
                                <div class="program__row">
                                    <div class="program__time">
                                        {program.name}
                                    </div>

                                    <div class="program__content">
                                        <strong>{program.heading}</strong>
                                        <p>{program.text}</p>
                                    </div>
                                </div>
                            ))
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="podmienky" class="white conf program" style="z-index: 7">
        <div class="wrapper line">
            <h2 class="mb--s dot dot--left dot--secondary">FAQ</h2>

            <div class="faq-container">
                <div class="faq__item">
                    <div class="faq__column">
                        <h3>Co potřebuju na Python akademii?</h3>
                        <div class="faq__content">
                            <p>Platné základní a síťové členství klubu Silicon Hill</p>
                        </div>
                        <div class="faq__content">
                            <p>Chuť se učit</p>
                        </div>
                    </div>
                </div>
                <div class="faq__item">
                    <div class="faq__column">
                        <h3>Musím umět programovat?</h3>

                        <div class="faq__content">
                            <p>Ne, vše se u nás naučíš</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="registracia" class="conf light">
        <div class="wrapper">
            <h2 class="text--center dot dot--bottom dot--primary">Registrace</h2>

            <div class="d--flex jc--c">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfCg87cfI5UcHaGcYLzf-sMcd6PNxsH6jt5Mdu4nyUTHuvJNA/viewform?embedded=true" width="800" height="1895" frameborder="0" marginheight="0" marginwidth="0">Načítání…</iframe>
            </div>

        </div>
    </section>


    <section id="kontakt" class="white contact" style="z-index: 2">
        <div class="wrapper dot line">
            <div class="d--flex fw--w">

                <div class="wrapper__column">
                    <h2 class="mb--s dot dot--left dot--secondary">Kontakt</h2>

                    <p class="mb--s subheading">
                        V případě jakýchkoliv otázek nebo nejasností nás neváhajte kontaktovat.
                    </p>
                    <p class="mb--s subheading">
                        Manažer pro vzdělávání
                        <a href="mailto:j.hanus@sh.cvut.cz.com">j.hanus@sh.cvut.cz</a>
                    </p>
                    <p class="mb--s subheading">
                        Developer stránek
                        <a href="mailto:slavo.kozar@gmail.com">slavo.kozar@gmail.com</a>
                    </p>
                </div>
            </div>
        </div>
    </section>


    <MapaSkolici></MapaSkolici>

</KurzLayout>