---

import { Markdown } from 'astro/components';
import KurzLayout from '../layouts/Kurz.astro';
import MapaSkolici from '../components/MapaSkolici.astro';


const program = [
    {
        name: '1. Lekce',
        heading: 'AutoCad lekce',
        text: '19:00 Školící centrum Silicon Hill'
    },
    {
        name: '2. Lekce',
        heading: 'AutoCad lekce',
        text: '19:00 Školící centrum Silicon Hill'
    },
    {
        name: '3. Lekce',
        heading: 'AutoCad lekce',
        text: '19:00 Školící centrum Silicon Hill'
    }
]

---
<KurzLayout>
    <header id="uvod" class="header o--h" style="z-index: 10">
        <div class="header__nav">
            <div class="wrapper">
                <div class="header__nav__inner">
                    <div class="nav__group d--flex">
                        <div class="nav__column logo">
                            <a href="#uvod">
                                AutoCad
                            </a>
                        </div>

                        <div class="nav__column back">
                            <ul class="nav__list">
                                <li class="nav__item">
                                    <a href="/kurzy">
                                        <img src="/assets/icons/back-icon.svg" alt="">
                                        <p>Zpět <span class="sm:d--none">na kurzy</span></p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="nav__group d--flex">
                        <div class="nav__column navbar">
                            <ul class="nav__list">
                                <li class="nav__item">
                                    <a href="#o-kurzu">O kurzu</a>
                                </li>

                                <li class="nav__item">
                                    <a href="#program">Program</a>
                                </li>

                                <li class="nav__item">
                                    <a href="#registrace">Registrace</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrapper">

            <div class="header__content">

                <div class="header-tags-list">
                    <span class="header-tags__item">série workshopů</span>
                </div>

                <h1>AutoCad</h1>

                <p class="header__date">6. března 2023 19:00</p>
                <p class="header__place">Školíci centrum Silicon Hill</p>


                <a href="#registrace" class="btn btn--primary btn--l">Chci se registrovat</a>

                <a href="#about" class="header-read__more">
                    <img src="/assets/icons/header-more.svg" alt="">
                        <p>Více informací</p>
                </a>
            </div>

            <div class="header-img--bg">
                <img src="/img/kurz-autocad-screen.jpg" alt="">
            </div>

        </div>
    </header>


    <section id="o-kurzu" class="white conf conf-about" style="z-index: 9">

        <div class="wrapper line">

            <h2 class="dot dot--left dot--secondary">Popis kurzu</h2>
                <div class="about__featured">

                        <div class="about__featured-item">
                            <div class="about__featured-icon">
                                <i class="fal fa-calendar-alt"></i>
                            </div>

                            <p class="about__featured-desc">6. 3. 2023 - 19:00</p>
                        </div>
                        
                        <div class="about__featured-item">
                            <div class="about__featured-icon">
                                <i class="fal fa-clock"></i>
                            </div>

                            <p class="about__featured-desc">90 minut</p>
                        </div>

                        <div class="about__featured-item">
                            <div class="about__featured-icon">
                                <i class="fal fa-map-marker-alt"></i>
                            </div>

                            <p class="about__featured-desc">Školíci centrum Silicon Hill</p>
                        </div>
                </div>
            
            <div class="about__desc">
                <Markdown>
                    Kurz je určen začátečníkům, kteří se snaží pokořit AutoCad a donutit ho vygenerovat výkres, který tak pracně nakreslili. Během kurzu zpracujeme jednoduchý půdorys garáže, kde si ukážeme jak výkres začít, uložit a dokončit. Budeme se věnovat pouze 2D kreslení v daném programu.

                    Proběhnou celkově 3 lekce (každá cca 2 hod). V prvních dvou se zaměříme na práci s programem jako je nastavení měřítka, typu čar, obecně kreslícím nástrojům a jejich modifikacím, kotám a textům, tvorbě rozvržení a dalším. Ve třetí lekci by jsme se pak věnovali vašim dotazům, opakování a dořešení nejasného.
                </Markdown>
            </div>
        </div>

    </section>


    <section id="lektor" class="lecturers conf light" style="z-index: 8">

        <div class="wrapper">

            <h2 class="dot dot--left dot--secondary">Lektor</h2>

            <div class="lecturers-list">
                    <div class="lecturer__item">

                        <div class="lecturer__img">
                            <div
                                class="lecturer__position primary"
                                style="background:#00A99D"
                            >
                                Lektor
                            </div>
                            <img src="/img/kurz-bara.jpg"/>
                        </div>

                        <div class="lecturer__details">
                            <h3>Ing. Barbora Žďárská - Bára</h3>
                            <Markdown>
                                Pocházím z Karlovarského kraje, odkud jsem v roce 2013 nastoupila na fakultu stavební ČVUT. Mým bakalářským programem byla “Architektura a stavitelství” a magisterským pak “Budovy a prostředí - technická zařízení budov”. Studium jsem ukončila na jaře roku 2019, kdy jsem za své snažení byla odměněna diplomem. Po celou dobu studia jsem bydlela na Strahově, kde jsem se mezi aktivní dostala jako správce studovny bloku 9 a pak přibrala ještě správcování velké kuchyně na témže bloku. Zkusila jsem také, jaké to je grilovat klobásy na SHOW.

                                Po ukončení školy jsem se začala živit jako projektant TZB - konkrétně vodovodů a kanalizací, okrajově plynovodů. S AutoCadem tedy válčím dnes a denně. Pamatuji si na své těžké začátky, kdy jsem pořádně netušila ani o jaký program se jedná. Ráda bych Vám tak ukázala, že AutoCad může být dobrý pomocník a ne jen nepřítel na dlouhé večery.
                            </Markdown>
                        </div>

                    </div>
                                       
            </div>
        </div>

    </section>


    <section id="program" class="white conf program" style="z-index: 7">
        <div class="wrapper line">
            <h2 class="dot dot--left dot--secondary">Program</h2>

            <div class="program-container">
                <div class="program__item">
                    <div class="program__section">
                        {
                            program.map(program => (
                                <div class="program__row">
                                    <div class="program__time">
                                        {program.name}
                                    </div>

                                    <div class="program__content">
                                        <strong>{program.heading}</strong>
                                        <p>{program.text}</p>
                                    </div>
                                </div>
                            ))
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="podmienky" class="white conf program" style="z-index: 7">
        <div class="wrapper line">
            <h2 class="mb--s dot dot--left dot--secondary">FAQ</h2>

            <div class="faq-container">
                <div class="faq__item">
                    <div class="faq__column">
                        <h3>Co potřebuju na akademii?</h3>

                        <div class="faq__content">
                            <p>Vlastní počítač s AutoCadem (studenstkou licenci si můžete sehnat přes <a href=https://download.cvut.cz/>ČVUT</a>)</p>
                        </div>
                        <div class="faq__content">
                            <p>Platné základní členství klubu Silicon Hill</p>
                        </div>
                        <div class="faq__content">
                            <p>Chuť se učit</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="registrace" class="conf light">
        <div class="wrapper">
            <h2 class="text--center dot dot--bottom dot--primary">Registrace</h2>

            <div class="d--flex jc--c">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe5NE-saL-nBjZJeTHGXuuX_X76IH-a0wDC5lR_q06QDNCvjQ/viewform?embedded=true" width="850" height="1594" frameborder="0" marginheight="0" marginwidth="0">Načítání…</iframe>
            </div>
        </div>
    </section>


    <section id="kontakt" class="white contact" style="z-index: 2">
        <div class="wrapper dot line">
            <div class="d--flex fw--w">

                <div class="wrapper__column">
                    <h2 class="mb--s dot dot--left dot--secondary">Kontakt</h2>

                    <p class="mb--s subheading">
                        V případě jakýchkoliv otázek nebo nejasností nás neváhajte kontaktovat.
                    </p>
                    <p class="mb--s subheading">
                        Manažer pro vzdělávání
                        <a href="mailto:j.hanus@sh.cvut.cz.com">j.hanus@sh.cvut.cz</a>
                    </p>
                    <p class="mb--s subheading">
                        Developer stránek
                        <a href="mailto:slavo.kozar@gmail.com">slavo.kozar@gmail.com</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <MapaSkolici></MapaSkolici>
</KurzLayout>
