---
// Component Imports
import MainLayout from '../layouts/Main.astro';
// import Tour from '../components/Tour.astro';
// You can import components from any supported Framework here!


// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
// let title = 'My Astro Site';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<MainLayout>



</MainLayout>

<section class="article light">
                <div class="wrapper">
            <div class="article__column">

                <div class="article__left">
                    <h2 class="text--center dot dot--bottom dot--secondary">Vzdelávanie</h2>

                    <p class="subheading text--center mb--m">
                        Vyberte si z našej ponuky odborných príspevkov a videozáznamov
                    </p>

                    <div class="category-container">
                                                    <a href="https://eduveo.sk/vzdelavanie/novela-zakona-september-2021" class="category__item">
                                <div class="category__img">
                                    <img src="https://eduveo.sk/storage/edu/01-novela-zakona-2.jpg" alt="Novela zákona o verejnom obstarávaní - september 2021">

                                    
                                                                    </div>

                                <div class="category__name">
                                    <h3>Novela zákona o verejnom obstarávaní</h3>
                                </div>

                                <div class="category__details">
                                    <div class="detail__item">
                                        <i class="fal fa-stopwatch mr--xs"></i>
                                        13. 10. 2021
                                    </div>

                                    <div class="detail__item">
                                        <i class="fal fa-user mr--xs"></i>
                                        eduveo
                                    </div>

                                                                            <div class="detail__item">
                                            <i class="fal fa-video mr--xs"></i>
                                            1h 53m
                                        </div>
                                    
                                    <div class="detail__item">
                                                                                    <i class="fal fa-eye mr--xs"></i>
                                            Otvorený
                                                                            </div>
                                </div>

                                <div class="category__desc">
                                    <p>Návrh novely zákona so zapracovanými pripomienkami nám predstaví priamo jeden z ich autorov. V diskusii s ďalšími hosťami poodhalíme jej plusy aj mínusy a najmä objasníme, čo sa za predmetnými úpravami skrýva.</p>
                                </div>

                                <div class="category__more">
                                    <span>Viac</span>
                                    <img src=https://eduveo.sk/img/conference/long-arrow-right.svg alt="">
                                </div>
                            </a>
                                                    <a href="https://eduveo.sk/vzdelavanie/novela-zakona-vo-2021" class="category__item">
                                <div class="category__img">
                                    <img src="https://eduveo.sk/storage/edu/eduveo-vo-box-max-2021-vsetci-4.jpg" alt="Novela zákona o verejnom obstarávaní - máj 2021">

                                    
                                                                    </div>

                                <div class="category__name">
                                    <h3>Novela zákona o verejnom obstarávaní</h3>
                                </div>

                                <div class="category__details">
                                    <div class="detail__item">
                                        <i class="fal fa-stopwatch mr--xs"></i>
                                        18. 05. 2021
                                    </div>

                                    <div class="detail__item">
                                        <i class="fal fa-user mr--xs"></i>
                                        eduveo
                                    </div>

                                                                            <div class="detail__item">
                                            <i class="fal fa-video mr--xs"></i>
                                            1h 56m
                                        </div>
                                    
                                    <div class="detail__item">
                                                                                    <i class="fal fa-eye mr--xs"></i>
                                            Otvorený
                                                                            </div>
                                </div>

                                <div class="category__desc">
                                    <p>Čo pre nás Úrad vlády spolu s Úradom pre verejné obstarávanie pripravili tentokrát? Buďte v obraze a pozrite si prehľad najväčších zmien, ktoré sú navrhované. Aké však bude finálne znenie zákona o verejnom obstarávaní uvidíme v dohľadnej dobe.</p>
                                </div>

                                <div class="category__more">
                                    <span>Viac</span>
                                    <img src=https://eduveo.sk/img/conference/long-arrow-right.svg alt="">
                                </div>
                            </a>
                                                    <a href="https://eduveo.sk/vzdelavanie/pripravne-trhove-konzultacie-v-praxi" class="category__item">
                                <div class="category__img">
                                    <img src="https://eduveo.sk/storage/edu/ptk-v-praxi.jpg" alt="Prípravné trhové konzultácie v praxi">

                                                                            <div class="category__lock">
                                            <div class="icon__lock">
                                                <i class="fas fa-lock-alt"></i>
                                            </div>
                                        </div>
                                                                    </div>

                                <div class="category__name">
                                    <h3>Prípravné trhové konzultácie v praxi</h3>
                                </div>

                                <div class="category__details">
                                    <div class="detail__item">
                                        <i class="fal fa-stopwatch mr--xs"></i>
                                        13. 10. 2021
                                    </div>

                                    <div class="detail__item">
                                        <i class="fal fa-user mr--xs"></i>
                                        eduveo
                                    </div>

                                                                            <div class="detail__item">
                                            <i class="fal fa-video mr--xs"></i>
                                            1h 7m
                                        </div>
                                    
                                    <div class="detail__item">
                                                                                    <i class="fal fa-eye-slash mr--xs"></i>
                                            Za úhradu
                                                                            </div>
                                </div>

                                <div class="category__desc">
                                    <p>Ako by mali trhové konzultácie vyzerať, ako sa na nich pripraviť a ako ich zdokumentovať? Nie je nič lepšie ako ukážka naživo.</p>
                                </div>

                                <div class="category__more">
                                    <span>Viac</span>
                                    <img src=https://eduveo.sk/img/conference/long-arrow-right.svg alt="">
                                </div>
                            </a>
                                                    <a href="https://eduveo.sk/vzdelavanie/ako-sutazit-inak-ako-na-najnizsiu-cenu" class="category__item">
                                <div class="category__img">
                                    <img src="https://eduveo.sk/storage/edu/ako-sutazit-inak.jpg" alt="Ako súťažiť inak ako na najnižšiu cenu?">

                                                                            <div class="category__lock">
                                            <div class="icon__lock">
                                                <i class="fas fa-lock-alt"></i>
                                            </div>
                                        </div>
                                                                    </div>

                                <div class="category__name">
                                    <h3>Ako súťažiť inak ako na najnižšiu cenu?</h3>
                                </div>

                                <div class="category__details">
                                    <div class="detail__item">
                                        <i class="fal fa-stopwatch mr--xs"></i>
                                        13. 10. 2021
                                    </div>

                                    <div class="detail__item">
                                        <i class="fal fa-user mr--xs"></i>
                                        eduveo
                                    </div>

                                                                            <div class="detail__item">
                                            <i class="fal fa-video mr--xs"></i>
                                            1h 26m
                                        </div>
                                    
                                    <div class="detail__item">
                                                                                    <i class="fal fa-eye-slash mr--xs"></i>
                                            Za úhradu
                                                                            </div>
                                </div>

                                <div class="category__desc">
                                    <p>Kvalitu chce každý z nás. Ako ju však zakomponovať do hodnotiacich kritérií je otázka, s ktorou sa všetci boríme. Na praktických príkladoch si ukážeme, ako sa s nastavovaním kritérií vysporiadať.</p>
                                </div>

                                <div class="category__more">
                                    <span>Viac</span>
                                    <img src=https://eduveo.sk/img/conference/long-arrow-right.svg alt="">
                                </div>
                            </a>
                                                    <a href="https://eduveo.sk/vzdelavanie/stavebne-prace" class="category__item">
                                <div class="category__img">
                                    <img src="https://eduveo.sk/storage/edu/stavebne-prace2.jpg" alt="Problémy a špecifiká stavebných prác">

                                                                            <div class="category__lock">
                                            <div class="icon__lock">
                                                <i class="fas fa-lock-alt"></i>
                                            </div>
                                        </div>
                                                                    </div>

                                <div class="category__name">
                                    <h3>Problémy a špecifiká stavebných prác</h3>
                                </div>

                                <div class="category__details">
                                    <div class="detail__item">
                                        <i class="fal fa-stopwatch mr--xs"></i>
                                        13. 10. 2021
                                    </div>

                                    <div class="detail__item">
                                        <i class="fal fa-user mr--xs"></i>
                                        eduveo
                                    </div>

                                                                            <div class="detail__item">
                                            <i class="fal fa-video mr--xs"></i>
                                            1h 22m
                                        </div>
                                    
                                    <div class="detail__item">
                                                                                    <i class="fal fa-eye-slash mr--xs"></i>
                                            Za úhradu
                                                                            </div>
                                </div>

                                <div class="category__desc">
                                    <p>Ako sa vysporiadať s nástrahami obstarávania stavebných prác počas ich prípravy, vyhodnocovania aj realizácie? Na príkladoch zo života si ukážeme s čím sa môžete stretnúť a ako to prežiť bez ujmy na psychike a verejných zdrojoch.</p>
                                </div>

                                <div class="category__more">
                                    <span>Viac</span>
                                    <img src=https://eduveo.sk/img/conference/long-arrow-right.svg alt="">
                                </div>
                            </a>
                                                    <a href="https://eduveo.sk/vzdelavanie/hrame-sa-s-kriteriami" class="category__item">
                                <div class="category__img">
                                    <img src="https://eduveo.sk/storage/edu/hrame-sa-s-kriteriami.jpg" alt="Workshop | Hráme sa s kritériami">

                                                                            <div class="category__lock">
                                            <div class="icon__lock">
                                                <i class="fas fa-lock-alt"></i>
                                            </div>
                                        </div>
                                                                    </div>

                                <div class="category__name">
                                    <h3>Workshop | Hráme sa s kritériami</h3>
                                </div>

                                <div class="category__details">
                                    <div class="detail__item">
                                        <i class="fal fa-stopwatch mr--xs"></i>
                                        13. 10. 2021
                                    </div>

                                    <div class="detail__item">
                                        <i class="fal fa-user mr--xs"></i>
                                        eduveo
                                    </div>

                                                                            <div class="detail__item">
                                            <i class="fal fa-video mr--xs"></i>
                                            34m
                                        </div>
                                    
                                    <div class="detail__item">
                                                                                    <i class="fal fa-eye-slash mr--xs"></i>
                                            Za úhradu
                                                                            </div>
                                </div>

                                <div class="category__desc">
                                    <p>Pokračovanie panelu - Ako súťažiť inak ako na najnižšiu cenu? Vyskúšajte si kombinatoriku kritérií na vybraných predmetoch zákaziek s cieľom pochopiť finančnú hodnotu iných ako cenových kritérií. Pod vedením nášho lektora sa naučíte ako simulovať výsledok obstarávania a vedieť tak nastaviť tú správnu váhovosť kritérií.</p>
                                </div>

                                <div class="category__more">
                                    <span>Viac</span>
                                    <img src=https://eduveo.sk/img/conference/long-arrow-right.svg alt="">
                                </div>
                            </a>
                                                    <a href="https://eduveo.sk/vzdelavanie/obstaravanie-v-samosprave" class="category__item">
                                <div class="category__img">
                                    <img src="https://eduveo.sk/storage/edu/obstaravanie-v-samosprave.jpg" alt="Obstarávanie v samospráve">

                                                                            <div class="category__lock">
                                            <div class="icon__lock">
                                                <i class="fas fa-lock-alt"></i>
                                            </div>
                                        </div>
                                                                    </div>

                                <div class="category__name">
                                    <h3>Obstarávanie v samospráve</h3>
                                </div>

                                <div class="category__details">
                                    <div class="detail__item">
                                        <i class="fal fa-stopwatch mr--xs"></i>
                                        13. 10. 2021
                                    </div>

                                    <div class="detail__item">
                                        <i class="fal fa-user mr--xs"></i>
                                        eduveo
                                    </div>

                                                                            <div class="detail__item">
                                            <i class="fal fa-video mr--xs"></i>
                                            1h 29m
                                        </div>
                                    
                                    <div class="detail__item">
                                                                                    <i class="fal fa-eye-slash mr--xs"></i>
                                            Za úhradu
                                                                            </div>
                                </div>

                                <div class="category__desc">
                                    <p>Spoznajte ako (ne)fungujú procesy súvisiace s verejným obstarávaním vo vybraných samosprávnych krajoch a mestách, vymeňte si skúsenosti a inšpirujte sa navzájom.</p>
                                </div>

                                <div class="category__more">
                                    <span>Viac</span>
                                    <img src=https://eduveo.sk/img/conference/long-arrow-right.svg alt="">
                                </div>
                            </a>
                                                    <a href="https://eduveo.sk/vzdelavanie/obstaravanie-IKT" class="category__item">
                                <div class="category__img">
                                    <img src="https://eduveo.sk/storage/edu/obstaravenie-ikt2.jpg" alt="Workshop | Obstarávanie IKT">

                                                                            <div class="category__lock">
                                            <div class="icon__lock">
                                                <i class="fas fa-lock-alt"></i>
                                            </div>
                                        </div>
                                                                    </div>

                                <div class="category__name">
                                    <h3>Workshop | Obstarávanie IKT</h3>
                                </div>

                                <div class="category__details">
                                    <div class="detail__item">
                                        <i class="fal fa-stopwatch mr--xs"></i>
                                        13. 10. 2021
                                    </div>

                                    <div class="detail__item">
                                        <i class="fal fa-user mr--xs"></i>
                                        eduveo
                                    </div>

                                                                            <div class="detail__item">
                                            <i class="fal fa-video mr--xs"></i>
                                            1h 32m
                                        </div>
                                    
                                    <div class="detail__item">
                                                                                    <i class="fal fa-eye-slash mr--xs"></i>
                                            Za úhradu
                                                                            </div>
                                </div>

                                <div class="category__desc">
                                    <p>Nová koncepcia nákupu Ministerstva investícií, regionálneho rozvoja a informatizácie SR, doplnená o skúsenosti našich lektorov pri obstarávaní IKT vám poskytnú návod na to, ako správne obstarávať IKT.</p>
                                </div>

                                <div class="category__more">
                                    <span>Viac</span>
                                    <img src=https://eduveo.sk/img/conference/long-arrow-right.svg alt="">
                                </div>
                            </a>
                                                    <a href="https://eduveo.sk/vzdelavanie/wokrshop-najdi-chybu" class="category__item">
                                <div class="category__img">
                                    <img src="https://eduveo.sk/storage/edu/najdi-chybu.jpg" alt="Aktuálne metodické usmernenia a rozhodnutia súdov">

                                                                            <div class="category__lock">
                                            <div class="icon__lock">
                                                <i class="fas fa-lock-alt"></i>
                                            </div>
                                        </div>
                                                                    </div>

                                <div class="category__name">
                                    <h3>Aktuálne metodické usmernenia a rozhodnutia</h3>
                                </div>

                                <div class="category__details">
                                    <div class="detail__item">
                                        <i class="fal fa-stopwatch mr--xs"></i>
                                        13. 10. 2021
                                    </div>

                                    <div class="detail__item">
                                        <i class="fal fa-user mr--xs"></i>
                                        eduveo
                                    </div>

                                                                            <div class="detail__item">
                                            <i class="fal fa-video mr--xs"></i>
                                            1h 7m
                                        </div>
                                    
                                    <div class="detail__item">
                                                                                    <i class="fal fa-eye-slash mr--xs"></i>
                                            Za úhradu
                                                                            </div>
                                </div>

                                <div class="category__desc">
                                    <p>Z každého rožku trošku. Naši lektori pre vás pripravili reálne situácie, s ktorými sa stretli a na ktorých si viete vyskúšať svoj postreh. Nájdete chybu v ponuke alebo v procese hodnotenia? S ktorým návrhom postupu lektora sa stotožňujete? Vďaka metóde veo hravo si z tohto workshopu odnesiete mnoho skúseností a poznatkov.</p>
                                </div>

                                <div class="category__more">
                                    <span>Viac</span>
                                    <img src=https://eduveo.sk/img/conference/long-arrow-right.svg alt="">
                                </div>
                            </a>
                                                    <a href="https://eduveo.sk/vzdelavanie/zodpovedne-vo-labelling" class="category__item">
                                <div class="category__img">
                                    <img src="https://eduveo.sk/storage/edu/zodpovedne-vo.jpg" alt="Zodpovedné verejné obstarávanie a labelling">

                                                                            <div class="category__lock">
                                            <div class="icon__lock">
                                                <i class="fas fa-lock-alt"></i>
                                            </div>
                                        </div>
                                                                    </div>

                                <div class="category__name">
                                    <h3>Zodpovedné obstarávanie a labelling</h3>
                                </div>

                                <div class="category__details">
                                    <div class="detail__item">
                                        <i class="fal fa-stopwatch mr--xs"></i>
                                        13. 10. 2021
                                    </div>

                                    <div class="detail__item">
                                        <i class="fal fa-user mr--xs"></i>
                                        eduveo
                                    </div>

                                                                            <div class="detail__item">
                                            <i class="fal fa-video mr--xs"></i>
                                            1h 1m
                                        </div>
                                    
                                    <div class="detail__item">
                                                                                    <i class="fal fa-eye-slash mr--xs"></i>
                                            Za úhradu
                                                                            </div>
                                </div>

                                <div class="category__desc">
                                    <p>Verejné obstarávanie je jedným zo strategických nástrojov na podporu sociálnej a zelenej ekonomiky. Ako však vhodne zakomponovať zelené a sociálne aspekty do súťažných podmienok? Nakoľko môžeme pracovať so značkami ako je napr. „fair trade“? Inšpirujte sa zákazkami a odporučaniami našich lektorov.</p>
                                </div>

                                <div class="category__more">
                                    <span>Viac</span>
                                    <img src=https://eduveo.sk/img/conference/long-arrow-right.svg alt="">
                                </div>
                            </a>
                                                    <a href="https://eduveo.sk/vzdelavanie/ramcova-dohoda-vs-dynamicky-nakupny-system" class="category__item">
                                <div class="category__img">
                                    <img src="https://eduveo.sk/storage/edu/rd-dns.jpg" alt="Rámcová dohoda vs. dynamický nákupný systém">

                                                                            <div class="category__lock">
                                            <div class="icon__lock">
                                                <i class="fas fa-lock-alt"></i>
                                            </div>
                                        </div>
                                                                    </div>

                                <div class="category__name">
                                    <h3>Rámcová dohoda vs. DNS</h3>
                                </div>

                                <div class="category__details">
                                    <div class="detail__item">
                                        <i class="fal fa-stopwatch mr--xs"></i>
                                        13. 10. 2021
                                    </div>

                                    <div class="detail__item">
                                        <i class="fal fa-user mr--xs"></i>
                                        eduveo
                                    </div>

                                                                            <div class="detail__item">
                                            <i class="fal fa-video mr--xs"></i>
                                            1h 20m
                                        </div>
                                    
                                    <div class="detail__item">
                                                                                    <i class="fal fa-eye-slash mr--xs"></i>
                                            Za úhradu
                                                                            </div>
                                </div>

                                <div class="category__desc">
                                    <p>Rámcová dohoda aj dynamický nákupný systém predstavujú flexibilné riešenia pre nákup jednotlivých komodít. Na niektoré predmety zákazky je vhodnejší jeden spôsob, pre iné ten druhý. Pozrieme sa tak na to, aké sú výhody aj nevýhody týchto prístupov a na aké komodity vhodné ich využitie.</p>
                                </div>

                                <div class="category__more">
                                    <span>Viac</span>
                                    <img src=https://eduveo.sk/img/conference/long-arrow-right.svg alt="">
                                </div>
                            </a>
                                                    <a href="https://eduveo.sk/vzdelavanie/eurofondy-idealna-zapisnica" class="category__item">
                                <div class="category__img">
                                    <img src="https://eduveo.sk/storage/edu/eurofondy.jpg" alt="Eurofondy – ako má vyzerať ideálna zápisnica?">

                                                                            <div class="category__lock">
                                            <div class="icon__lock">
                                                <i class="fas fa-lock-alt"></i>
                                            </div>
                                        </div>
                                                                    </div>

                                <div class="category__name">
                                    <h3>Eurofondy - ideálna zápisnica</h3>
                                </div>

                                <div class="category__details">
                                    <div class="detail__item">
                                        <i class="fal fa-stopwatch mr--xs"></i>
                                        13. 10. 2021
                                    </div>

                                    <div class="detail__item">
                                        <i class="fal fa-user mr--xs"></i>
                                        eduveo
                                    </div>

                                                                            <div class="detail__item">
                                            <i class="fal fa-video mr--xs"></i>
                                            1h 40m
                                        </div>
                                    
                                    <div class="detail__item">
                                                                                    <i class="fal fa-eye-slash mr--xs"></i>
                                            Za úhradu
                                                                            </div>
                                </div>

                                <div class="category__desc">
                                    <p>Čo všetko je potrebné v zápisnici uvádzať aby boli úkony preskúmateľné? Ako si nájsť zlatú strednú cestu na ktorej nebude mať zápisnica 30 strán ale súčasne v nej budú uvedené všetky relevantné úkony? Tak na to sa pozrieme spolu so zástupcami kontrolných orgánov.</p>
                                </div>

                                <div class="category__more">
                                    <span>Viac</span>
                                    <img src=https://eduveo.sk/img/conference/long-arrow-right.svg alt="">
                                </div>
                            </a>
                                                    <a href="https://eduveo.sk/vzdelavanie/koncepcia-nakupu-IKT-2021" class="category__item">
                                <div class="category__img">
                                    <img src="https://eduveo.sk/storage/edu/eduveo-vo-box-max-2021-packova-hudec.jpg" alt="Koncepcia nákupu IKT">

                                                                            <div class="category__lock">
                                            <div class="icon__lock">
                                                <i class="fas fa-lock-alt"></i>
                                            </div>
                                        </div>
                                                                    </div>

                                <div class="category__name">
                                    <h3>Koncepcia nákupu IKT</h3>
                                </div>

                                <div class="category__details">
                                    <div class="detail__item">
                                        <i class="fal fa-stopwatch mr--xs"></i>
                                        20. 05. 2021
                                    </div>

                                    <div class="detail__item">
                                        <i class="fal fa-user mr--xs"></i>
                                        eduveo
                                    </div>

                                                                            <div class="detail__item">
                                            <i class="fal fa-video mr--xs"></i>
                                            1h 52m
                                        </div>
                                    
                                    <div class="detail__item">
                                                                                    <i class="fal fa-eye-slash mr--xs"></i>
                                            Za úhradu
                                                                            </div>
                                </div>

                                <div class="category__desc">
                                    <p>Ako sa vysporiadať s fenoménom známym ako vendor lock-in, kedy je možné využiť priame rokovacie konanie či dodatok na predĺženie platnosti zmluvy a čo všetko zohľadniť pri nových verejných obstarávaniach?</p>
                                </div>

                                <div class="category__more">
                                    <span>Viac</span>
                                    <img src=https://eduveo.sk/img/conference/long-arrow-right.svg alt="">
                                </div>
                            </a>
                                                    <a href="https://eduveo.sk/vzdelavanie/podmienky-zmeny-zmluvy-2021" class="category__item">
                                <div class="category__img">
                                    <img src="https://eduveo.sk/storage/edu/eduveo-vo-box-max-2021-vsetci-3.jpg" alt="Zmluva, zmluvné podmienky, zmena zmluvy">

                                                                            <div class="category__lock">
                                            <div class="icon__lock">
                                                <i class="fas fa-lock-alt"></i>
                                            </div>
                                        </div>
                                                                    </div>

                                <div class="category__name">
                                    <h3>Podmienky zmeny zmluvy #2</h3>
                                </div>

                                <div class="category__details">
                                    <div class="detail__item">
                                        <i class="fal fa-stopwatch mr--xs"></i>
                                        20. 05. 2021
                                    </div>

                                    <div class="detail__item">
                                        <i class="fal fa-user mr--xs"></i>
                                        eduveo
                                    </div>

                                                                            <div class="detail__item">
                                            <i class="fal fa-video mr--xs"></i>
                                            1h 38m
                                        </div>
                                    
                                    <div class="detail__item">
                                                                                    <i class="fal fa-eye-slash mr--xs"></i>
                                            Za úhradu
                                                                            </div>
                                </div>

                                <div class="category__desc">
                                    <p>Ako posúdiť súlad zmeny termínu začiatku plnenia zmluvy, termínu dodania, či cien s podmienkami uvedenými v §18?  Aké sú možnosti a limity pre zmene zmluvy a čo v zmluve zohľadniť?</p>
                                </div>

                                <div class="category__more">
                                    <span>Viac</span>
                                    <img src=https://eduveo.sk/img/conference/long-arrow-right.svg alt="">
                                </div>
                            </a>
                                                    <a href="https://eduveo.sk/vzdelavanie/opis-predmetu-zakazky-2021" class="category__item">
                                <div class="category__img">
                                    <img src="https://eduveo.sk/storage/edu/eduveo-vo-box-max-2021-kubovic-borzik-3.jpg" alt="Opis predmetu zákazky">

                                                                            <div class="category__lock">
                                            <div class="icon__lock">
                                                <i class="fas fa-lock-alt"></i>
                                            </div>
                                        </div>
                                                                    </div>

                                <div class="category__name">
                                    <h3>Opis predmetu zákazky</h3>
                                </div>

                                <div class="category__details">
                                    <div class="detail__item">
                                        <i class="fal fa-stopwatch mr--xs"></i>
                                        20. 05. 2021
                                    </div>

                                    <div class="detail__item">
                                        <i class="fal fa-user mr--xs"></i>
                                        eduveo
                                    </div>

                                                                            <div class="detail__item">
                                            <i class="fal fa-video mr--xs"></i>
                                            1h 22m
                                        </div>
                                    
                                    <div class="detail__item">
                                                                                    <i class="fal fa-eye-slash mr--xs"></i>
                                            Za úhradu
                                                                            </div>
                                </div>

                                <div class="category__desc">
                                    <p>Ako pracovať s pojmom ekvivalent a na čo si dať pri opise predmetu zákazky pozor? Pozrite sa na praktické príklady a usmernenia, o ktoré sa môžete oprieť.</p>
                                </div>

                                <div class="category__more">
                                    <span>Viac</span>
                                    <img src=https://eduveo.sk/img/conference/long-arrow-right.svg alt="">
                                </div>
                            </a>
                                                    <a href="https://eduveo.sk/vzdelavanie/novela-zakona-vo-dodavatelia-2021" class="category__item">
                                <div class="category__img">
                                    <img src="https://eduveo.sk/storage/edu/1a5505325bec74b314c3167dce1d0c8e.jpg" alt="Novela zákona o verejnom obstarávaní z pohľadu dodávateľov">

                                                                            <div class="category__lock">
                                            <div class="icon__lock">
                                                <i class="fas fa-lock-alt"></i>
                                            </div>
                                        </div>
                                                                    </div>

                                <div class="category__name">
                                    <h3>Novela zákona VO z pohľadu dodávateľov</h3>
                                </div>

                                <div class="category__details">
                                    <div class="detail__item">
                                        <i class="fal fa-stopwatch mr--xs"></i>
                                        29. 06. 2021
                                    </div>

                                    <div class="detail__item">
                                        <i class="fal fa-user mr--xs"></i>
                                        eduveo
                                    </div>

                                                                            <div class="detail__item">
                                            <i class="fal fa-video mr--xs"></i>
                                            37m
                                        </div>
                                    
                                    <div class="detail__item">
                                                                                    <i class="fal fa-eye-slash mr--xs"></i>
                                            Za úhradu
                                                                            </div>
                                </div>

                                <div class="category__desc">
                                    <p>Pripravuje sa veľká novela zákona o verejnom obstarávaní. Mnohé zmeny sa týkajú aj dodávateľov – niektoré viac, niektoré menej. V tejto sekcii vás oboznámime so zmenami, ktoré na vás budú mať najväčší dopad.</p>
                                </div>

                                <div class="category__more">
                                    <span>Viac</span>
                                    <img src=https://eduveo.sk/img/conference/long-arrow-right.svg alt="">
                                </div>
                            </a>
                                                    <a href="https://eduveo.sk/vzdelavanie/nepriestrelna-ponuka-2021" class="category__item">
                                <div class="category__img">
                                    <img src="https://eduveo.sk/storage/edu/a480948b19c2b781bb5c523157f4a78a.jpg" alt="Nepriestrelná ponuka">

                                                                            <div class="category__lock">
                                            <div class="icon__lock">
                                                <i class="fas fa-lock-alt"></i>
                                            </div>
                                        </div>
                                                                    </div>

                                <div class="category__name">
                                    <h3>Nepriestrelná ponuka</h3>
                                </div>

                                <div class="category__details">
                                    <div class="detail__item">
                                        <i class="fal fa-stopwatch mr--xs"></i>
                                        29. 06. 2021
                                    </div>

                                    <div class="detail__item">
                                        <i class="fal fa-user mr--xs"></i>
                                        eduveo
                                    </div>

                                                                            <div class="detail__item">
                                            <i class="fal fa-video mr--xs"></i>
                                            49m
                                        </div>
                                    
                                    <div class="detail__item">
                                                                                    <i class="fal fa-eye-slash mr--xs"></i>
                                            Za úhradu
                                                                            </div>
                                </div>

                                <div class="category__desc">
                                    <p>Ako uchádzač reflektujete na požiadavky verejných obstarávateľov, musíte sa orientovať v zákone o verejnom obstarávaní aj jeho aplikačnej praxi. Ako sa v tom vyznať, keď mnohokrát ani samotný verejný obstarávateľ nevie ako postupovať?</p>
                                </div>

                                <div class="category__more">
                                    <span>Viac</span>
                                    <img src=https://eduveo.sk/img/conference/long-arrow-right.svg alt="">
                                </div>
                            </a>
                                                    <a href="https://eduveo.sk/vzdelavanie/podmienky-ucasti-dodvatelia-2021" class="category__item">
                                <div class="category__img">
                                    <img src="https://eduveo.sk/storage/edu/vo-box-dod-hudec-3.jpg" alt="Podmienky účasti pre dodávateľov">

                                                                            <div class="category__lock">
                                            <div class="icon__lock">
                                                <i class="fas fa-lock-alt"></i>
                                            </div>
                                        </div>
                                                                    </div>

                                <div class="category__name">
                                    <h3>Podmienky účasti pre dodávateľov</h3>
                                </div>

                                <div class="category__details">
                                    <div class="detail__item">
                                        <i class="fal fa-stopwatch mr--xs"></i>
                                        28. 06. 2021
                                    </div>

                                    <div class="detail__item">
                                        <i class="fal fa-user mr--xs"></i>
                                        eduveo
                                    </div>

                                                                            <div class="detail__item">
                                            <i class="fal fa-video mr--xs"></i>
                                            1h 2m
                                        </div>
                                    
                                    <div class="detail__item">
                                                                                    <i class="fal fa-eye-slash mr--xs"></i>
                                            Za úhradu
                                                                            </div>
                                </div>

                                <div class="category__desc">
                                    <p>Splnenie podmienok účasti, ktoré si stanovil verejný obstarávateľ môže byť niekedy pomerne zložité, najmä ak nie sú adekvátne k predmetu zákazky. Ako však posúdiť či je hodnota požadovaných referencií adekvátna, či sú požiadavky na expertov či certifikáty skutočne nevyhnutné? Na praktických príkladoch si ukážeme vhodné aj nevhodné použitie inštitútu podmienok účasti.</p>
                                </div>

                                <div class="category__more">
                                    <span>Viac</span>
                                    <img src=https://eduveo.sk/img/conference/long-arrow-right.svg alt="">
                                </div>
                            </a>
                                                    <a href="https://eduveo.sk/vzdelavanie/revizne-postupy-dodavatelia-2021" class="category__item">
                                <div class="category__img">
                                    <img src="https://eduveo.sk/storage/edu/vo-box-dod-hudec-4.jpg" alt="Revízne postupy pre dodávateľov">

                                                                            <div class="category__lock">
                                            <div class="icon__lock">
                                                <i class="fas fa-lock-alt"></i>
                                            </div>
                                        </div>
                                                                    </div>

                                <div class="category__name">
                                    <h3>Revízne postupy pre dodávateľov</h3>
                                </div>

                                <div class="category__details">
                                    <div class="detail__item">
                                        <i class="fal fa-stopwatch mr--xs"></i>
                                        29. 06. 2021
                                    </div>

                                    <div class="detail__item">
                                        <i class="fal fa-user mr--xs"></i>
                                        eduveo
                                    </div>

                                                                            <div class="detail__item">
                                            <i class="fal fa-video mr--xs"></i>
                                            27m
                                        </div>
                                    
                                    <div class="detail__item">
                                                                                    <i class="fal fa-eye-slash mr--xs"></i>
                                            Za úhradu
                                                                            </div>
                                </div>

                                <div class="category__desc">
                                    <p>Ako sa brániť ak boli dotknuté vaše práva? Ako postupovať ak sú súťažné podmienky nastavené diskriminačne alebo ste boli vylúčení neoprávnene? V tejto časti školenia sa pozrieme na postupnosť krokov a formálnych náležitostí, ktoré musia byť dodržané tak, aby nebol revízny proces zastavený.</p>
                                </div>

                                <div class="category__more">
                                    <span>Viac</span>
                                    <img src=https://eduveo.sk/img/conference/long-arrow-right.svg alt="">
                                </div>
                            </a>
                                                    <a href="https://eduveo.sk/vzdelavanie/principy-obstaravania-zakaziek-s-nizkou-hodnotou" class="category__item">
                                <div class="category__img">
                                    <img src="https://eduveo.sk/storage/edu/63a21cdff76ab7cc2a552079938eb352.jpg" alt="Princípy obstarávania zákaziek s nízkou hodnotou">

                                    
                                                                    </div>

                                <div class="category__name">
                                    <h3>Princípy obstarávania zákaziek s nízkou hodnotou</h3>
                                </div>

                                <div class="category__details">
                                    <div class="detail__item">
                                        <i class="fal fa-stopwatch mr--xs"></i>
                                        29. 03. 2021
                                    </div>

                                    <div class="detail__item">
                                        <i class="fal fa-user mr--xs"></i>
                                        eduveo
                                    </div>

                                                                            <div class="detail__item">
                                            <i class="fal fa-video mr--xs"></i>
                                            45m
                                        </div>
                                    
                                    <div class="detail__item">
                                                                                    <i class="fal fa-eye mr--xs"></i>
                                            Otvorený
                                                                            </div>
                                </div>

                                <div class="category__desc">
                                    <p>Ako definuje zákazku s nízkou hodnotou zákon a ako si ju sami komplikujeme? Na príkladoch z praxe vám ukážeme, ako si proces zjednodušiť a ako si správne nastaviť interné smernice tak, aby vám nezväzovali ruky tam, kde to nie je potrebné.</p>
                                </div>

                                <div class="category__more">
                                    <span>Viac</span>
                                    <img src=https://eduveo.sk/img/conference/long-arrow-right.svg alt="">
                                </div>
                            </a>
                                                    <a href="https://eduveo.sk/vzdelavanie/ako-spravne-definovat-poziadavky-na-certifikaty-a-expertov" class="category__item">
                                <div class="category__img">
                                    <img src="https://eduveo.sk/storage/edu/980aa5ca55984c59f38394f7311e6d02.jpg" alt="Ako definovať požiadavky na certifikáty a expertov">

                                                                            <div class="category__lock">
                                            <div class="icon__lock">
                                                <i class="fas fa-lock-alt"></i>
                                            </div>
                                        </div>
                                                                    </div>

                                <div class="category__name">
                                    <h3>Požiadavky na certifikáty a expertov</h3>
                                </div>

                                <div class="category__details">
                                    <div class="detail__item">
                                        <i class="fal fa-stopwatch mr--xs"></i>
                                        29. 03. 2021
                                    </div>

                                    <div class="detail__item">
                                        <i class="fal fa-user mr--xs"></i>
                                        eduveo
                                    </div>

                                                                            <div class="detail__item">
                                            <i class="fal fa-video mr--xs"></i>
                                            1h 56m
                                        </div>
                                    
                                    <div class="detail__item">
                                                                                    <i class="fal fa-eye-slash mr--xs"></i>
                                            Za úhradu
                                                                            </div>
                                </div>

                                <div class="category__desc">
                                    <p>Kedy je vhodné vyžadovať certifikáty a aké požiadavky definovať? Ukážeme si vhodné aj nevhodné príklady ich použitia či vyhodnotenia ako aj najdôležitejšie rozhodnutia ÚVO a Rady ÚVO v tejto oblasti.</p>
                                </div>

                                <div class="category__more">
                                    <span>Viac</span>
                                    <img src=https://eduveo.sk/img/conference/long-arrow-right.svg alt="">
                                </div>
                            </a>
                                                    <a href="https://eduveo.sk/vzdelavanie/subjekty-v-ponuke-uchadzaca" class="category__item">
                                <div class="category__img">
                                    <img src="https://eduveo.sk/storage/edu/1d58a5e6910a37794fd1f8747c233acf.jpg" alt="Subjekty v ponuke uchádzača">

                                                                            <div class="category__lock">
                                            <div class="icon__lock">
                                                <i class="fas fa-lock-alt"></i>
                                            </div>
                                        </div>
                                                                    </div>

                                <div class="category__name">
                                    <h3>Subjekty v ponuke uchádzača</h3>
                                </div>

                                <div class="category__details">
                                    <div class="detail__item">
                                        <i class="fal fa-stopwatch mr--xs"></i>
                                        29. 03. 2021
                                    </div>

                                    <div class="detail__item">
                                        <i class="fal fa-user mr--xs"></i>
                                        eduveo
                                    </div>

                                                                            <div class="detail__item">
                                            <i class="fal fa-video mr--xs"></i>
                                            1h 12m
                                        </div>
                                    
                                    <div class="detail__item">
                                                                                    <i class="fal fa-eye-slash mr--xs"></i>
                                            Za úhradu
                                                                            </div>
                                </div>

                                <div class="category__desc">
                                    <p>Aké rozlišuje zákon osoby, s ktorými sa môžete stretnúť v ponukách? Objasníme si, kedy ide o subdodávateľa, tzv. inú osobu či &quot;vlastnú kapacitu&quot; ako aj to, aké podmienky sa na tieto osoby vzťahujú.</p>
                                </div>

                                <div class="category__more">
                                    <span>Viac</span>
                                    <img src=https://eduveo.sk/img/conference/long-arrow-right.svg alt="">
                                </div>
                            </a>
                                                    <a href="https://eduveo.sk/vzdelavanie/ako-porazit-konflikt-zaujmov" class="category__item">
                                <div class="category__img">
                                    <img src="https://eduveo.sk/storage/edu/2a41ac777cc641dc95f7a0580b8bfd04.jpg" alt="Ako poraziť konflikt záujmov">

                                                                            <div class="category__lock">
                                            <div class="icon__lock">
                                                <i class="fas fa-lock-alt"></i>
                                            </div>
                                        </div>
                                                                    </div>

                                <div class="category__name">
                                    <h3>Ako poraziť konflikt záujmov</h3>
                                </div>

                                <div class="category__details">
                                    <div class="detail__item">
                                        <i class="fal fa-stopwatch mr--xs"></i>
                                        29. 03. 2021
                                    </div>

                                    <div class="detail__item">
                                        <i class="fal fa-user mr--xs"></i>
                                        eduveo
                                    </div>

                                                                            <div class="detail__item">
                                            <i class="fal fa-video mr--xs"></i>
                                            1h 28m
                                        </div>
                                    
                                    <div class="detail__item">
                                                                                    <i class="fal fa-eye-slash mr--xs"></i>
                                            Za úhradu
                                                                            </div>
                                </div>

                                <div class="category__desc">
                                    <p>Potenciálny konflikt záujmov hrozí v každom jednom obstarávaní. Na našom školení vám ukážeme ako sa s nim vysporiadať ak je v konflikte štatutár, člen komisie, či osoba, ktoré participovala na príprave zákazky.</p>
                                </div>

                                <div class="category__more">
                                    <span>Viac</span>
                                    <img src=https://eduveo.sk/img/conference/long-arrow-right.svg alt="">
                                </div>
                            </a>
                                                    <a href="https://eduveo.sk/vzdelavanie/revolucne-novinky-v-eurofondovom-verejnom-obstaravani-cast1" class="category__item">
                                <div class="category__img">
                                    <img src="https://eduveo.sk/storage/edu/165a2b2c2152f197b35f0ba1d33e636f.jpg" alt="Revolučné novinky v eurofondovom verejnom obstarávaní platné od 18. novembra 2020 - ČASŤ 1">

                                    
                                                                    </div>

                                <div class="category__name">
                                    <h3>Eurofondy po novom - časť prvá</h3>
                                </div>

                                <div class="category__details">
                                    <div class="detail__item">
                                        <i class="fal fa-stopwatch mr--xs"></i>
                                        08. 03. 2021
                                    </div>

                                    <div class="detail__item">
                                        <i class="fal fa-user mr--xs"></i>
                                        Mgr. Branislav Hudec
                                    </div>

                                                                            <div class="detail__item">
                                            <i class="fal fa-glasses mr--xs"></i>
                                            20m
                                        </div>
                                    
                                    <div class="detail__item">
                                                                                    <i class="fal fa-eye mr--xs"></i>
                                            Otvorený
                                                                            </div>
                                </div>

                                <div class="category__desc">
                                    <p>Koncom roka 2020 sa podarilo priniesť zásadné zmeny v pravidlách na kontrolu zákaziek, financovaných z fondov EÚ.  V tomto článku sa dozviete ako sa upravila povinnosť kontroly verejného obstarávania v jednotlivých fázach obstarávania.</p>
                                </div>

                                <div class="category__more">
                                    <span>Viac</span>
                                    <img src=https://eduveo.sk/img/conference/long-arrow-right.svg alt="">
                                </div>
                            </a>
                                                    <a href="https://eduveo.sk/vzdelavanie/revolucne-novinky-v-eurofondovom-verejnom-obstaravani-cast2" class="category__item">
                                <div class="category__img">
                                    <img src="https://eduveo.sk/storage/edu/7c9c3ded3ca8bc57e6deae8be0131ce9.jpg" alt="Revolučné novinky v eurofondovom verejnom obstarávaní platné od 18. novembra 2020 - ČASŤ 2">

                                    
                                                                    </div>

                                <div class="category__name">
                                    <h3>eurofondy po novom - časť druhá</h3>
                                </div>

                                <div class="category__details">
                                    <div class="detail__item">
                                        <i class="fal fa-stopwatch mr--xs"></i>
                                        11. 03. 2021
                                    </div>

                                    <div class="detail__item">
                                        <i class="fal fa-user mr--xs"></i>
                                        Mgr. Branislav Hudec
                                    </div>

                                                                            <div class="detail__item">
                                            <i class="fal fa-glasses mr--xs"></i>
                                            20m
                                        </div>
                                    
                                    <div class="detail__item">
                                                                                    <i class="fal fa-eye mr--xs"></i>
                                            Otvorený
                                                                            </div>
                                </div>

                                <div class="category__desc">
                                    <p>Pokračujeme v predstavovaní revolučných zmien v eurofondovom verejnom obstarávaní. V druhej časti sa dozviete aj o zmenách v zákazkách s nízkou hodnotou či spôsobe predkladania dokumentácie.</p>
                                </div>

                                <div class="category__more">
                                    <span>Viac</span>
                                    <img src=https://eduveo.sk/img/conference/long-arrow-right.svg alt="">
                                </div>
                            </a>
                                                    <a href="https://eduveo.sk/vzdelavanie/MNCP-zdokumentovanie" class="category__item">
                                <div class="category__img">
                                    <img src="https://eduveo.sk/storage/edu/5385f83a6771db1592a72cbd2aa4b493.jpg" alt="Mimoriadne nízka cenová ponuka - do akej miery je potrebné zdokumentovať jej neprítomnosť?">

                                    
                                                                    </div>

                                <div class="category__name">
                                    <h3>Zdokumentovanie hodnotenia MNCP</h3>
                                </div>

                                <div class="category__details">
                                    <div class="detail__item">
                                        <i class="fal fa-stopwatch mr--xs"></i>
                                        27. 11. 2020
                                    </div>

                                    <div class="detail__item">
                                        <i class="fal fa-user mr--xs"></i>
                                        eduveo
                                    </div>

                                                                            <div class="detail__item">
                                            <i class="fal fa-glasses mr--xs"></i>
                                            15m
                                        </div>
                                    
                                    <div class="detail__item">
                                                                                    <i class="fal fa-eye mr--xs"></i>
                                            Otvorený
                                                                            </div>
                                </div>

                                <div class="category__desc">
                                    <p>Ako správne zdokumentovať proces vyhodnocovania prítomnosti mimoriadne nízkej cenovej ponuky tak, aby kontrolný orgán nevytkol nepreskúmateľnosť úkonov?</p>
                                </div>

                                <div class="category__more">
                                    <span>Viac</span>
                                    <img src=https://eduveo.sk/img/conference/long-arrow-right.svg alt="">
                                </div>
                            </a>
                                                    <a href="https://eduveo.sk/vzdelavanie/novela-zakona" class="category__item">
                                <div class="category__img">
                                    <img src="https://eduveo.sk/storage/edu/e6a5e2d698379291a3cd6e8fad06ffb8.jpg" alt="Novela zákona o verejnom obstarávaní, ktorá mení svet verejného obstarávania">

                                    
                                                                    </div>

                                <div class="category__name">
                                    <h3>Novela zákona</h3>
                                </div>

                                <div class="category__details">
                                    <div class="detail__item">
                                        <i class="fal fa-stopwatch mr--xs"></i>
                                        20. 10. 2020
                                    </div>

                                    <div class="detail__item">
                                        <i class="fal fa-user mr--xs"></i>
                                        eduveo
                                    </div>

                                                                            <div class="detail__item">
                                            <i class="fal fa-video mr--xs"></i>
                                            1h 40m
                                        </div>
                                    
                                    <div class="detail__item">
                                                                                    <i class="fal fa-eye mr--xs"></i>
                                            Otvorený
                                                                            </div>
                                </div>

                                <div class="category__desc">
                                    <p>Už od augusta budúceho roka budeme obstarávať po novom. Aké zmeny nám novela prinesie a aké budú jej dopady? Čo prinesie zrušenie podlimitných súťaží a námietok?</p>
                                </div>

                                <div class="category__more">
                                    <span>Viac</span>
                                    <img src=https://eduveo.sk/img/conference/long-arrow-right.svg alt="">
                                </div>
                            </a>
                                                    <a href="https://eduveo.sk/vzdelavanie/stanovenie-minimalnych-standardov" class="category__item">
                                <div class="category__img">
                                    <img src="https://eduveo.sk/storage/edu/ed8dbb4e018bdf191480538ad06cee12.jpg" alt="Stanovenie minimálnych štandardov">

                                                                            <div class="category__lock">
                                            <div class="icon__lock">
                                                <i class="fas fa-lock-alt"></i>
                                            </div>
                                        </div>
                                                                    </div>

                                <div class="category__name">
                                    <h3>Stanovenie minimálnych štandardov</h3>
                                </div>

                                <div class="category__details">
                                    <div class="detail__item">
                                        <i class="fal fa-stopwatch mr--xs"></i>
                                        20. 10. 2020
                                    </div>

                                    <div class="detail__item">
                                        <i class="fal fa-user mr--xs"></i>
                                        eduveo
                                    </div>

                                                                            <div class="detail__item">
                                            <i class="fal fa-video mr--xs"></i>
                                            1h 31m
                                        </div>
                                    
                                    <div class="detail__item">
                                                                                    <i class="fal fa-eye-slash mr--xs"></i>
                                            Za úhradu
                                                                            </div>
                                </div>

                                <div class="category__desc">
                                    <p>Ako stanoviť požiadavky na minimálne štandardy pri referenciách? Ako odôvodniť výšku referencií a ako stanoviť porovnateľný predmet zákazky? Pozrite sa spolu s nami na príklady z praxe.</p>
                                </div>

                                <div class="category__more">
                                    <span>Viac</span>
                                    <img src=https://eduveo.sk/img/conference/long-arrow-right.svg alt="">
                                </div>
                            </a>
                                                    <a href="https://eduveo.sk/vzdelavanie/vysvetlenie-vylucenie" class="category__item">
                                <div class="category__img">
                                    <img src="https://eduveo.sk/storage/edu/15d17ccde272190923b5a1be88ef8144.jpg" alt="Vysvetlenie vs. vylúčenie">

                                                                            <div class="category__lock">
                                            <div class="icon__lock">
                                                <i class="fas fa-lock-alt"></i>
                                            </div>
                                        </div>
                                                                    </div>

                                <div class="category__name">
                                    <h3>Vysvetlenie vs. vylúčenie</h3>
                                </div>

                                <div class="category__details">
                                    <div class="detail__item">
                                        <i class="fal fa-stopwatch mr--xs"></i>
                                        20. 10. 2020
                                    </div>

                                    <div class="detail__item">
                                        <i class="fal fa-user mr--xs"></i>
                                        eduveo
                                    </div>

                                                                            <div class="detail__item">
                                            <i class="fal fa-video mr--xs"></i>
                                            1h 32m
                                        </div>
                                    
                                    <div class="detail__item">
                                                                                    <i class="fal fa-eye-slash mr--xs"></i>
                                            Za úhradu
                                                                            </div>
                                </div>

                                <div class="category__desc">
                                    <p>Kedy uchádzača vylúčiť a kedy požiadať o vysvetlenie? Ako správne aplikovať princíp proporcionality a nezabudnúť pritom na formálnu stránku? Pozrite sa spolu s nami na príklady z praxe.</p>
                                </div>

                                <div class="category__more">
                                    <span>Viac</span>
                                    <img src=https://eduveo.sk/img/conference/long-arrow-right.svg alt="">
                                </div>
                            </a>
                                                    <a href="https://eduveo.sk/vzdelavanie/zmena-zmluvy" class="category__item">
                                <div class="category__img">
                                    <img src="https://eduveo.sk/storage/edu/6bcdbdff1942a5fa8d053a0f16b9ce2f.jpg" alt="Podmienky zmeny zmluvy">

                                                                            <div class="category__lock">
                                            <div class="icon__lock">
                                                <i class="fas fa-lock-alt"></i>
                                            </div>
                                        </div>
                                                                    </div>

                                <div class="category__name">
                                    <h3>Podmienky zmeny zmluvy #1</h3>
                                </div>

                                <div class="category__details">
                                    <div class="detail__item">
                                        <i class="fal fa-stopwatch mr--xs"></i>
                                        20. 10. 2020
                                    </div>

                                    <div class="detail__item">
                                        <i class="fal fa-user mr--xs"></i>
                                        eduveo
                                    </div>

                                                                            <div class="detail__item">
                                            <i class="fal fa-video mr--xs"></i>
                                            32m
                                        </div>
                                    
                                    <div class="detail__item">
                                                                                    <i class="fal fa-eye-slash mr--xs"></i>
                                            Za úhradu
                                                                            </div>
                                </div>

                                <div class="category__desc">
                                    <p>Kedy a za akých podmienok môže dôjsť k zmene zmluvy a na čo treba myslieť už pri jej uzatváraní? Pozrite sa na vzorové znenia zmluvných podmienok, ktoré vám zjednodušia vašu prácu.</p>
                                </div>

                                <div class="category__more">
                                    <span>Viac</span>
                                    <img src=https://eduveo.sk/img/conference/long-arrow-right.svg alt="">
                                </div>
                            </a>
                                            </div>
                </div>

            </div>
        </div>
    </section>

