<footer>
    <div class="wrapper">
        <div class="footer-container">

            <div class="footer__top">
                <div class="footer__column footer__logo">
                    <div style="padding-left:10px"><h3>Akademie</h3></div>
                    <img src="/assets/sh-logo-invert-col.png" alt="SiliconHill.cz">
                </div>

                <div class="footer__column footer__menu">

                    <div class="menu__list">
                        <div class="menu__item">
                            <a href="/">O nás</a>
                        </div>

                        <div class="menu__item">
                            <a href="/kurzy">Kurzy</a>
                        </div>

                        <div class="menu__item">
                            <a href="/kontakt">Kontakt</a>
                        </div>
                    </div>
                </div>


                <div class="footer__column footer__social">
                    <div class="social__list">
                        <a href="#" class="social__icon" target="_blank">
                            <img src="https://eduveo.sk/img/social/facebook-white.svg"alt="">
                        </a>

                        <a href="#" class="social__icon" target="_blank">
                            <img src="https://eduveo.sk/img/social/youtube-white.svg"alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>